@import '../../styles/global.scss';

// page container
.profil {
  height: 100vh;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    width: 100%;
  }

  .profil_container {
    height: calc(100% - 100px);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: $greyColor;
    border-radius: 25px;
    box-shadow: 10px 10px $yellowColor;
    
    
  }
  
  //photo
  .profil_photo {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 50%;
    box-shadow: 2px 2px 5px $yellowColor;
    overflow: hidden;
    border: 1px solid $yellowColor;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    @include mobile {
      margin-bottom: 10px;
    }
  }
  
  //user info 
  
  .info_user {
    text-align: center;
    color: $yellowColor;
  
    .pseudo {
      font-size: 1.2em;
      font-weight: bold;
      color: $yellowColor;
      text-shadow: 3px 3px 10px $darkGreyColor;
      margin-bottom: 5px;
    }
  
    font-size: 0.8em;
  
    @include mobile {
      margin-bottom: 10px;
    }
  }
  
  //description area
  .description {
    width: 50%;
    border: 1px solid $yellowColor ;
    padding: 15px;
    margin-bottom: 5px;
    color: white;
  
    @include mobile {
      margin-bottom: 10px;
      width: 90%;
    }
  }
  
  //user contact
  .contact_user {
    width: 40%;
    border: 1px solid $yellowColor ;
    padding: 5px;
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 25px;
    color: white;
  
    @include mobile {
      width: 90%;
    }
  
  }
  
  .toptext {
    font-weight: bold;
    color: $yellowColor;
    text-shadow: 3px 3px 10px $darkGreyColor;
  }
  
  .edit {
    margin-bottom: 10px;
    padding: 2px;
  @include button
  }
}
